


img, video {
    width: 100%;
}


.topP {
    text-align: right;
    margin-right: 5%;
    z-index: 110;
}

.topSrc {
    margin: 5px;
    z-index: 150;
    
}

.topBtn {
    float: right;
    z-index: 110;
}

.logoC {
    position: absolute;
    left: 40px;
    width: 100px;
    z-index: 110;

}

.bgimg {
    z-index: -1;
}

.navC {
    color: navy;
    height: auto;
    background-color: white;
    position: absolute;
    border-bottom: 2px solid rgba(194, 166, 255, 0.2);
    z-index: -100;
    top: 0;
}

nav li a, nav li {
    color: blue;    
    opacity: 1;
    width: 100%;
    margin: 0%;
    padding: 0%;
    float: none;
    display: block;
    outline-style: none !important;
    text-decoration: none;
    border-top: 1px solid navy;
    text-align: right;
    }
    
    
    /*&#9776; this is the code for 3 bar menu*/
.navBtn  {
    font-size: 4em;
    display: block;
    width: 20%;
    margin: 0 4vw 0 73vw; 
    padding: 7px 3%;
    text-align: center;
    cursor: pointer;
    background-color: white;
}



